In [1]:
import pandas as pd
import numpy as np

In [2]:
pokemons = {
    'Pikachu': np.random.randint(1, 100, 3),
    'Bulbasaur': np.random.randint(1, 100, 3)
}
print(pokemons)

{'Pikachu': array([67, 60, 72]), 'Bulbasaur': array([90,  9,  6])}

In [3]:
pokemons = {
    'pokemon_height': np.random.randint(1, 100, 5),
    'pokemon_weight': np.random.randint(1, 100, 5),
    'pokemon_power': np.random.randint(1, 200, 5)
}
print(pokemons)

{'pokemon_height': array([14, 16,  8, 60, 26]), 'pokemon_weight': array([99, 60, 64, 66,  5]), 'pokemon_power': array([ 80, 100, 161,  32, 138])}

In [4]:
df = pd.DataFrame(pokemons)
print(df)

   pokemon_height  pokemon_weight  pokemon_power
0              14              99             80
1              16              60            100
2               8              64            161
3              60              66             32
4              26               5            138

In [5]:
df.head()

   pokemon_height  pokemon_weight  pokemon_power
0              14              99             80
1              16              60            100
2               8              64            161
3              60              66             32
4              26               5            138

In [6]:
df.head(n = 3)

   pokemon_height  pokemon_weight  pokemon_power
0              14              99             80
1              16              60            100
2               8              64            161

In [7]:
df.columns

Index(['pokemon_height', 'pokemon_weight', 'pokemon_power'], dtype='object')

### Convert data frame to a csv file

In [ ]:
df.to_csv('pokemon_data.csv', index=False)

### Reading a CSV file from disk

In [11]:
df = pd.read_csv('pokemon_data.csv')

In [12]:
print(df)

   pokemon_height  pokemon_weight  pokemon_power
0              14              99             80
1              16              60            100
2               8              64            161
3              60              66             32
4              26               5            138

In [14]:
df.head()

   pokemon_height  pokemon_weight  pokemon_power
0              14              99             80
1              16              60            100
2               8              64            161
3              60              66             32
4              26               5            138

In [15]:
df.shape

(5, 3)